.navbar {

}

box {
    margin: 5px 5px 5px 5px;
} 

rbox {
    margin: 5px 5px 5px 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

gbox {
    margin: 5px 5px 5px 5px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

bbox {
    margin: 5px 5px 5px 5px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}