html {
    scroll-behavior: smooth;
}

.box {
    margin: 5px 5px 5px 5px;
}

.rbox-non {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.rbox {
    margin: 5px 5px 5px 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.gbox {
    margin: 5px 5px 5px 5px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

.bbox {
    margin: 5px 5px 5px 5px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}

.bsection {
    background-color: cornflowerblue;
    height: 50rem;
}

.ysection {
    background-color: khaki;
    height: 50rem;
}

.text-white {
    color: white;
}

.text-lightgrey {
    color: rgb(231, 231, 231);
}

.text-darkgrey {
    color: rgb(73, 73, 73);
}

.text-bold {
    font-weight: bold;
}

.text-ocean {
    color: rgb(0, 214, 221);
}

.text-blue {
    color: royalblue;
}

.text-darkblue {
    color: rgb(0, 0, 105);
}

.spacing {
    margin-top: 2px;
}

.spacing-top {
    margin-top: 20px;
}

.text-yellow {
    color: rgb(224, 191, 0);
}

.compress-x-xs {
    margin-left: 4.15%;
    margin-right: 4.15%;
}

.compress-x-sm {
    margin-left: 8.33%;
    margin-right: 8.33%;
}

.compress-x-md {
    margin-left: 16.66%;
    margin-right: 16.66%;
}

.compress-x-xl {
    margin-left: 25%;
    margin-right: 25%;
}

.compress-y-xs {
    margin-top: 7.14%;
    margin-bottom: 7.14%;
}

.compress-y-sm {
    margin-top: 14.28%;
    margin-bottom: 14.28%;
}

.compress-y-md {
    margin-top: 28.57%;
    margin-bottom: 28.57%;
}

.compress-y-xl {
    margin-top: 42.85%;
    margin-bottom: 42.85%;
}

.box-align-center {
    margin: auto;
    width: 50%;
    padding: 10px;
}



.text-align-center {
    text-align: center;
}


.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }


  .button-align-center {
    margin: 0;
    top: 50%;
    left: 50%;
  }

.md-section {
   height: 15%;
}

.text-xs {
    font-size: smaller;
}

.text-sm {
    font-size: small;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: x-large;
}

.text-xxl {
    font-size: xx-large;
}
